

### folders
node_modules
.idea
coverage
.nyc_output
.vscode
dist
clients/rust/target/
@target
test/.suman/.meta

### matching
*.log
*.tgz
*.DS_Store
src/*.js
src/*.d.ts

# Don't commit compiled JS files in src/ - they should only be in dist/
src/**/*.js

### files
yarn.lock

### matching
!dist/README.md
