
### folders
node_modules
.idea
src
test
docs
scripts
.tscmultiwatch
.r2g
coverage
lib

### matching files
*.log
*.md
*.json
*.txt
*.yml
*.html
*.lock
*.tgz

### files
.dockerignore
suman.conf.js
.gitignore
.npmignore
yarn.lock

