
### folders
node_modules
.idea
src
test
docs

### matching files
*.log
*.sh
*.md
*.json
*.txt
*.ts
*.yml
*.html
*.lock
*.tgz


### files
suman.conf.js
.gitignore
.npmignore
yarn.lock


### negation
!*.d.ts
